.progress-line {
  background-color: black;
  height: 6px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .line {
    background-color: #BEFFC7;
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
  }
}
